<h1 align="center">Hello, <%= current_user.username %></h1>
<br>

<h4 align="center"><%= link_to 'All Planets', planets_path %></h4>
<br>
<h4 align="center"><%= link_to 'Add a New Planet', new_user_planet_path(current_user) %></h4>
<br>