/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
    align-content: center;
}

/* NAVIGATION */
nav.navbar.navbar-default.navbar-fixed-top {
    background-color: slategrey;
}

nav.navbar.navbar-default.navbar-fixed-top a {
    background-color: slategrey;
    color: #cccccc;
}

div.navbar-header a.navbar-brand {
    color: #cccccc;
}

p.navbar-text {
    background-color: slategrey;
    color: #cccccc;
    float: right;
}

/* BODY */
body {
    background-color: #cccccc;
    padding-top: 100px;
}

/* FOOTER */

div.footer { 
    height: 24px;
    width: 100%;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: slategrey;
}

div.footer_contents {
    height: 24px;
    width: 600px;
    float: right;
    color: #cccccc;
}