<ul>
    <% @categories.each do |category| %>
        <li>
            <%= link_to category.name, category_path(category) %>
            <ol>
                <% category.planets.each do |planet| %>
                    <li><%= link_to planet.name, planet_path(planet) %></li>
                <% end %>
            </ol>
        </li>
    <% end %>
</ul>