<h1><%= @category.name %> - <%= pluralize(@category.planets.count, "planets") %></h1>

<ol>
    <% @category.planets.each do  |planet| %>
      <li><%= link_to planet.name, planet_path(planet)  %></li>
    <% end  %>
</ol>
